*{
    box-sizing: border-box;
} 
body{
    background-color: burlywood;
}

.cafe{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.cafe a{
    color: white;
}
.nombre{
    display: flex;
    align-items: center; 
    color: white;
}

.navbar{
    background-color: #6C2B25;
}

.caja1{
    height: 82vh;
    border: 2px rgb(0, 0, 0) solid;  
    background-color: yellowgreen;
}

.footer{
    height: 100px;
    border: 2px rgb(0, 0, 0) solid;
    background-color: chocolate;
}

.boton{
    padding: 0px 50px 0px 50px;
}