*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

} 
body{
    background-color: burlywood;
}

.cafe{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.cafe{
    color: white;
}
.nombre{
    display: flex;
    align-items: center; 
    color: white;
}

.navbar{
    background-color: #6C2B25;
}

.caja1{
    height: 82vh;
}

.boton{
    padding: 0px 50px 0px 50px;
}



.contactame{
    height: 74vh;
    border:  solid;
    background-color: rgb(96, 96, 221);
}

.rojo{
    background-color: red;
    height: 10vh; 
}

.contacto{
    text-align: center;
}

.imagen{
    height: 50px;
    width: 50px;
    background-color: aqua;
}

.htecnicas{
    height:  82.7vh;
}

#linia1 {
    animation-delay: 1s;
}

#linia2 {
    animation-delay: 1.5s;
}

#circulo {
    animation-delay: 2.5s;
}

#perro {
    animation-delay: 3.5s;
}

#oreja1 {
    animation-delay: 4s;
}

#oreja2 {
    animation-delay: 4.5s;
}

#oreja2{
    animation-delay: 5s;
}

#nariz {
    animation-delay: 5.5s;
}

#lengua {
    animation-delay: 6s;
}

#torzo {
    animation-delay: 6.5s;
}

#letraE {
    animation-delay: 7s;
}

#marca {
    animation-delay: 7.5s;
}

.fixed-margin {
    margin-top: -100px;
}

.fixed-box {
    height: 100vh;
    overflow: hidden;
}

img{
    width: 100%;
}


.foto2{
    width: 57vh;
    max-width: 80vh;
}

.prueba1{
    height: 100%;
    background-color: wheat;
}

.prueba1{
    height: 98vh;
    background-color: black;
}

#quiensoy{
    width: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
   
.quien{
    text-align: center;
    padding: 100px;
    color: white;
}

.soy{
    
    color: white;
    padding-left: 100px !important;
    padding-right: 100px !important;
    height: 60vh;
}

.ilustraciones{
    height: 76vh;
}


.fila1{
    justify-content: end;
}


.cont{
    height: 76vh;
}

#Ctn{
    width: 70vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-delay: 0.5s;
}

.contact{
    text-align: center;
    padding: 50px;
}


#htec1{
    width: 65vh;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    animation-delay: 1s;
}

#htec1{
    width: 65vh;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    animation-delay: 1s;
}

#htec{
    width: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    animation-delay: 1s;
}

.ht{
    height: 76vh;
}

.Habilidades{
    text-align: center;
    padding: 50px;
}

#educa{
    width: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    animation-delay: 1s;
}

.educacion{
    height: 76vh;
}

.educacionTitulo{
    text-align: center;
    padding: 50px;
}

#code{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vh;
    padding-top: 50px;
}

.perfil{
    height: 76vh;
}

.perfilTitulo{
    text-align: center;
    padding: 50px;
}

#perfilF{
    width: 100%;
}

.texto{
    animation-delay: 1s;
    padding: 10px;
}

h2{
   padding: 20px 0px 20px 0px;
}

.card{
   margin-left: 28px;
   margin-top: 55px;
   
}

.card-text{
    text-align: center;
    color: white;
    border-radius: 55px;
}

.card-body{
     background-color: #6C2B25;
}

#botonesportafolio{
    margin-left: 200px;
}

.icono-footer{
    width: 50px;
    
}

.icono-footer2{
    width: 50px;
    margin-left: 0px;
    margin-right: 10px
}

.icono-footer1{
    width: 50px;  
}

.card1{
    margin-right: 28px;
    margin-block-start: 150px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
    

